<a href="https://colab.research.google.com/github/ShkliaevPavel/Portfolio/blob/Python/Study_project_%22Error_handling%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

Print newspapers used a different date format for each issue. For each newspaper in the list, write the format of the specified date to be converted into a datetime object:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 10/11/13
Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime

In [ ]:
The_Moscow_Times = datetime.strptime('Wednesday, October 02, 2002', '%A, %B %d, %Y')
The_Moscow_Times

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
The_Guardian = datetime.strptime('Friday, 11.10.13', '%A, %d.%m.%y')
The_Guardian

datetime.datetime(2013, 10, 11, 0, 0)

In [ ]:
Daily_News = datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')
Daily_News

datetime.datetime(1977, 8, 18, 0, 0)

Task 2

Given is a stream of dates in the YYYY-MM-DD format that contain incorrect values:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

Write a function that checks these dates for correctness. That is, for each date it returns "True" - the date is correct or "False" - incorrect.

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [ ]:
for i in stream:
  try:
    if type(datetime.strptime(i, '%Y-%m-%d')) == datetime:
      print(i, 'True')
  except:
    print(i, 'False')

2018-04-02 True
2018-02-29 False
2018-19-02 False

Task 3

Write a date_range function that returns a list of dates from start_date to end_date.

Dates must be entered in the format YYYY-MM-DD.

If the format is invalid or if start_date > end_date, an empty list should be returned.

In [1]:
from datetime import timedelta
from datetime import date, timedelta
import pandas as pd

In [2]:
def date_range(start_date, end_date):
  try:
    if start_date <= end_date:
       dt_st_date = date(int(start_date[0:4]), int(start_date[5:7]), int(start_date[9:]))
       dt_end_date = date(int(end_date[0:4]), int(end_date[5:7]), int(end_date[9:]))
       delta = dt_end_date-dt_st_date
       for el in range(delta.days + 1):
          print(dt_st_date + timedelta(el))
    else: print([])
  except:
      print([])

In [3]:
start_date = input('Enter start date using template YYYY-MM-DD: ')
end_date = input('Enter start date using template YYYY-MM-DD: ')

date_range(start_date, end_date)

Enter start date using template YYYY-MM-DD: 2023-01-01
Enter start date using template YYYY-MM-DD: 2023-02-15
2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05

Task 4
Your colleague sent the function code:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):

""“
Removes the last user from the default_list
and returns the ID of the new last user.
"""

element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

1
return default_list[DEFAULT_USER_COUNT-2]

When this function is called once, everything works correctly:
delete_and_return_last_user(1)
'A101'

However, when called again, the error is IndexError: list index out of range.

Exercise:

What does the list index out of range error mean?
Why does the function work correctly the first time I run it, but not the second time?

In [4]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):

#Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя.

  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]

In [5]:
delete_and_return_last_user(1)

'A101'

1. What does the list index out of range error mean?
    
     The error means that the index you are looking for is not in the default_list

2. Why does the function work correctly the first time you run it, but not the second time?

    When you run it for the first time, 2 elements remain in the default_list list, the result is default_list[1], when you run it again, only 1 element with index [0] remains in the list.

In [6]:
# Предлагаемый вариант кода

def delete_and_return_last_user_corr(region, default_list=['A100', 'A101', 'A102']):
  try:
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[-1]
  except:
    print('default_list does not have more elements')

In [9]:
delete_and_return_last_user_corr(1)

default_list does not have more elements