<a href="https://colab.research.google.com/github/ShkliaevPavel/Portfolio/blob/Python/Study_project_%22Data_types_1%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

A variable is given that stores a word made up of Latin letters.

Write the code that displays:
* middle letter, if the number of letters in the word is odd;
* two middle letters if the number of letters is even.

In [1]:
import re

word = input('Enter a word in latin letters: ')
if re.search('[a-zA-Z]', word):
    print(word[len(word) // 2 - 1] + word[len(word) // 2]) if len(word) % 2 == 0 else print(word[len(word) // 2])
else: print('Error, use latin letters')

Enter a word in latin letters: test
es

In [2]:
word = input('Enter a word in latin letters: ')
print(word[(len(word)-1)//2:(len(word)+2)//2])

Enter a word in latin letters: testing
t

Task 2

Write a program that prompts the user for numbers sequentially (one at a time) and after the first zero prints the sum of all previously entered numbers.

In [7]:
number = True
sum_ = 0

while number != 0:
  number = float(input('Enter a number: '))
  sum_ += number

print('Result: ', sum_)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 00
Result:  6.0

Task 3

We are making an MVP of a dating service, and we have a list of guys and girls.

Let's hypothesize: we'll get better recommendations if we simply sort the names alphabetically and introduce people to the same indexes after sorting!

But we won’t introduce anyone if someone might be left without a date:

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

#boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
#girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [ ]:
if len(boys) == len(girls):
    for boy_name, girl_name in zip(sorted(boys), sorted(girls)):
      print(f'{boy_name} и {girl_name}')
else: print('Внимание, кто-то может остаться без пары!')

Task 4

We have a list containing information about the average daily temperature in Fahrenheit for an arbitrary period by country (data structure in the example).

You need to write a code that will calculate the average temperature over a period in Celsius(!) for each country.

In [8]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [9]:
for country, temperature in countries_temperature:
    sum_temp_C = 0
    for each_temp in temperature:
        sum_temp_C += (each_temp - 32)*5/9
    print(f'{country} - {round(sum_temp_C/len(temperature),1)} C')

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

Task 5

There is a list with transport numbers. You need to write a code that will check each number for validity (1 letter, 3 numbers, 2 letters, 2-3 numbers).

Please note that not all letters of the Cyrillic alphabet are used in transport numbers.

If the number is valid, then display it in the required format (example below), and if it is not valid, display the text.

Regular expressions, which you will become familiar with in practice, will help you solve this problem.

In [ ]:
car_ids = ['А222ВС96', 'АБ22ВВ193', 'с123кк95', 'М123ОК22', 's456ОК123']

In [ ]:
for each_id in car_ids:
    pattern = '([АВЕКМНОРСТУХавекмнорстух]{1})(\d{3})([АВЕКМНОРСТУХавекмнорстух]{2})(\d{2,3})'
    match_ = re.search(pattern, each_id)
    if match_: print(f'Номер {match_.group(1)}{match_.group(2)}{match_.group(3)} валиден. Регион: {match_.group(4)}')
    else: print(f'Номер {each_id} не валиден')

Task 6

A stream of logs is given for the number of pages viewed for each user (user, date, views).

You need to write an algorithm that calculates the average of views per user.

That is, you need to calculate the ratio of the sum of all views to the number of unique users.

And here regular expressions will make implementation a little easier.

In [10]:
stream = [
    'user4,2021-01-01;3',
    'user3,2022-01-07;4',
    'user2,2022-03-29;1',
    'user1,2020-04-04;13',
    'user2,2022-01-05;7',
    'user1,2021-06-14;4',
    'user3,2022-07-02;10',
    'user4,2021-03-21;19',
    'user4,2022-03-22;4',
    'user4,2022-04-22;8',
    'user4,2021-05-03;9',
    'user4,2022-05-11;11',
    ]

In [11]:
stream = [
    'user100,2022-01-01;150',
    'user99,2022-01-07;205',
    'user1001,2022-03-29;81'
]

In [12]:
import re

sum_ = 0
res = []
for el in stream:
    pattern_view = re.search(';(\d{1,})', el)
    pattern_user = re.search('(user)(\d{1,})', el)
    if pattern_view:
      sum_ += int(pattern_view.group(1))
    if pattern_user and pattern_user.group(2) not in res: res.append(pattern_user.group(2))

print(f'Average amount of views per unique user: {round(sum_ / len(res),2)}')

Average amount of views per unique user: 145.33

In [ ]:
total_views = sum([int(re.split('[,;]', element)[2]) for element in stream])
no_of_views = len(set([re.split('[,;]', element)[0] for element in stream]))

TypeError: 'float' object is not callable

In [ ]:
total_views = sum([int(re.split('[,;]', element)[2]) for element in stream])
no_of_users = len(set([re.split('[,;]', element)[0] for element in stream]))

TypeError: 'float' object is not callable